html{
    font-size: 62.5%;
}
body{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to bottom, grey, black);
    background-size: 100% 40px; /* Altura de cada "ladrillo" */
    background-repeat:round ;
}
.contenedor--flotante{
    padding: 0.5em;
    border: 0.5em groove rgba(182, 3, 3, 0.808)
}
.contenedor--flotante img{
    width: 30%;
    height: 20%;
    float: inline-end;
    margin-top: 5em;
    filter: opacity(0.9);

}
.contenedor--flotante p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 2em;
    
}
/*Consultas de medios o Medias Queries:
Sirven para definir estilos a elementos HTML, segun el tamaño de la pantalla del dispositivo usado.
gracias a esto se nos proporciona una herramienta para la creacion de diseños web responsivos y
adaptables*/

@media screen and (max-width:300px) {
    .contenedor--flotante p{
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: justify;
        font-size: 1.2em;
}
}
